body {
    background-color: black;
}

.dino {
  position: absolute;
  top: 0%;
  right: 50%;
  bottom: 0%;
  left: 0%;

  img {
    width: 75%;
  }
}

.info {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 50%;

  color: white;
  font-family: monospace;
  text-align: center;

  div {
    font-size: 172px;
    font-weight: bold;
  }

  span {
    font-size: 28px;
    text-align: center;
  }
}

