body {
    background-color: black;
    color: white;
    font-family: monospace;
}

h1 {
  text-align: center;
   font-size: 40px;
}

.word {
   font-weight: bold;
   font-size: 185px;
   text-align: center;
   text-transform: uppercase;
   display: block;
}
.container {
    min-width: 100%%;
}
.power {
    font-size: 96px;
    display: inline-block;
    min-width: 33%%;
}
.power-image {
    margin-bottom: 50%%;
}
.number {
    display: inline-block;
    min-width: 66%%;
}

